.spacer {
	height: 150vh;
}

// Fullish-Page: core
#demo1 .panel-container {
	padding: 50px 80px;
	width: 100%;
}

// Fullish-Page: panels
#demo1 {
	.panel:nth-child(1) {
		background-color: #002d9c;
	}
	.panel:nth-child(2) {
		background-color: #740937;
	}
	.panel:nth-child(3) {
		background-color: #003a6d;
	}
	.panel:nth-child(4) {
		background-color: #491d8b;
	}
	.panel:nth-child(5) {
		background-color: #004144;
	}
}

#demo1 .panel-container {
	h2 {
		color: #ffffff;
	}
}
